.content {
    background-color: #ffffff;
    margin: 1em;
    padding: 1em;
}

footer .footer-bottom {
    background-color: #272930;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5em;
    padding-top: 1em;
}